{
    "log": {
    "version": "1.0",
    "creator": {
        "name": "hargreaves-sdk-python",
        "version": "1.0.0"
        },
    "pages": [
        {%- for http_entry in http_entries %}
            {
                "startedDateTime": "{{ http_entry.start_time.strftime('%Y-%m-%dT%H:%M:%S.%fZ') }}",
                "id": "page_{{ loop.index }}",
                "title": "{{ http_entry.response.url }}",
                "pageTimings": {
                    "onContentLoad": -1,
                    "onLoad": -1
                }
            }{{ ", " if not loop.last else "" }}
        {%- endfor %}
    ],
    "entries": [
        {%- for http_entry in http_entries %}
            {
                "pageref": "page_{{ loop.index }}",
                "startedDateTime": "{{ http_entry.start_time.strftime('%Y-%m-%dT%H:%M:%S.%fZ') }}",
                "time": {{ http_entry.response.elapsed.total_seconds() * 1000 }},
                "request": {
                    "method": "{{ http_entry.request.method }}",
                    "url": "{{ http_entry.response.url }}",
                    "httpVersion": "HTTP/1.1",
                    "cookies": [
                        {%- for cookie in http_entry.request_cookies %}
                            {
                                "name": "{{ cookie.name }}",
                                "value": {{ cookie.value|safe_text }},
                                "path": "{{ cookie.path }}",
                                "domain": "{{ cookie.domain }}",
                                "expires": "{{ cookie.expires.str }}",
                                "httpOnly": {{ (not cookie.secure)|tojson }},
                                "secure": {{ cookie.secure|tojson }},
                                "comment": "{{ cookie.comment }}"
                            }{{ ", " if not loop.last else "" }}
                        {%- endfor %}
                    ],
                    "headers": [
                        {%- for name, value in http_entry.request.headers.items() %}
                            {
                                "name": "{{ name }}",
                                "value": {{ value|safe_text }}
                            }{{ ", " if not loop.last else "" }}
                        {%- endfor %}
                    ],
                    "queryString" : [
                        {%- for name, value in http_entry.request.params.items() %}
                            {
                            "name": "{{ name }}",
                            "value": {{ value|safe_text }}
                            }{{ ", " if not loop.last else "" }}
                        {%- endfor %}
                    ],
                    {%- if http_entry.request.method == 'POST' %}
                    "postData": {
                        "mimeType": "{{ http_entry.request.headers.get('Content-Type') }}",
                        "params": [
                            {%- for data_item in http_entry.request.data.items() %}
                                {
                                "name": "{{ data_item[0] }}",
                                {%- if 'secure-number' in data_item[0]  %}
                                "value": "*"
                                {%- else %}
                                "value": {{ data_item[1]|safe_text }}
                                {%- endif %}
                                }{{ ", " if not loop.last else "" }}
                            {%- endfor %}
                        ],
                        "text" : "{{ http_entry.get_post_param_as_text() }}",
                        "comment": ""
                    },
                    {%- endif %}
                    "headersSize" : -1,
                    "bodySize" : -1
                },
                "response": {
                    "status": {{ http_entry.response.status_code }},
                    "statusText": "{{ http_entry.response.reason }}",
                    "httpVersion": "HTTP/1.1",
                    "cookies": [
                    {%- for cookie in http_entry.response.cookies %}
                        {
                        "name": "{{ cookie.name }}",
                        "value": {{ cookie.value|safe_text }},
                        "path": "{{ cookie.path }}",
                        "domain": "{{ cookie.domain }}",
                        "expires": "{{ cookie.expires.str }}",
                        "httpOnly": {{ (not cookie.secure)|tojson }},
                        "secure": {{ cookie.secure|tojson }},
                        "comment": "{{ cookie.comment }}"
                        }{{ ", " if not loop.last else "" }}
                    {%- endfor %}
                    ],
                    "headers": [
                    {%- for name, value in http_entry.response.headers.items() %}
                        {
                        "name": "{{ name }}",
                        "value": {{ value|safe_text }}
                        }{{ ", " if not loop.last else "" }}
                    {%- endfor %}
                    ],
                    "content": {
                        "size": {{ http_entry.response.content|length }},
                        "compression": 0,
                        "mimeType": "{{ http_entry.response.headers.get('Content-Type')  }}",
                        "text": {{ http_entry.response.text|safe_text }}
                    },
                    "redirectURL": "{{ http_entry.response.url if http_entry.response.is_redirect else '' }}",
                    "headersSize" : -1,
                    "bodySize" : {{ http_entry.response.content|length }}
                },
                "cache": { },
                "timings": { },
                "serverIPAddress": "{{ http_entry.server_ip_address[0] }}",
                "connection":"{{ http_entry.local_ip_address[1] }}",
                "comment": ""
            }{{ ", " if not loop.last else "" }}
        {%- endfor %}
    ]
    }
}
