# Overview

# Request Summary

```
{%- for http_entry in http_entries %}
[{{ http_entry['request']['method'] }} - {{ http_entry['response']['status'] }}] {{ http_entry['request']['url'] }} --> {{ http_entry['request']['request_id'] }}
{%- endfor %}
```

# Entries
{%- for http_entry in http_entries %}
## {{ http_entry['request']['request_id'] }}

**startedDateTime** = {{ http_entry['startedDateTime'] }}

**REQUEST**

| Key | Value |
| --- | ----- |
| method | {{ http_entry['request']['method'] }} |
| clean_url | {{ http_entry['request']['clean_url'] }} |
| request_id | {{ http_entry['request']['request_id'] }} |

**RESPONSE**

| Key | Value |
| --- | ----- |
| status | {{ http_entry['response']['status'] }} |
| statusText | {{ http_entry['response']['statusText'] }} |
{%- if http_entry['response']['content'].get('text') is not none %}
| content | [{{ http_entry['response']['content_file_link'] }}]({{ http_entry['response']['content_file_link'] }})  |
{%- else %}
| content | Missing |
{%- endif %}
| content[mimeType] |  {{ http_entry['response']['content']['mimeType'] }}  |
| content[size] | {{ http_entry['response']['content']['size'] }}  |

**REQUEST Cookies**

```
{%- for cookie in http_entry['request']['cookies']|sort(attribute='name') %}
    {{ cookie['name'] }} = {{ cookie['value']|safe_text }}
{%- endfor %}
```

**REQUEST Headers**

```
{%- for header in http_entry['request']['headers']|sort(attribute='name') %}
    {{ header['name'] }} = {{ header['value']|safe_text }}
{%- endfor %}
```
**REQUEST QueryString Param**

```
{%- for param in http_entry['request']['queryString'] %}
    {{ param['name'] }} = {{ param['value']|safe_text }}
{%- endfor %}
```
{%- if http_entry['request']['method'] == 'POST' %}

**REQUEST Post Param**

```
{%- for param in http_entry['request']['postData']['params'] %}
    {{ param['name'] }} = {{ param['value']|safe_text }}
{%- endfor %}
```
{%- endif %}

**RESPONSE Cookies**

```
{%- for cookie in http_entry['response']['cookies']|sort(attribute='name') %}
    {{ cookie['name'] }} = {{ cookie['value']|safe_text }}
{%- endfor %}
```

**RESPONSE Headers**

```
{%- for header in http_entry['response']['headers']|sort(attribute='name') %}
    {{ header['name'] }} = {{ header['value']|safe_text }}
{%- endfor %}
```


{%- endfor %}